/*SASS MEDIA QUERIES*/
/*main axis*/
/*cross axis*/
/*Properties of the children*/
.authentication {
  width: 85%;
  height: 65em;
  display: grid;
  grid-template-rows: 20% 20% 10% 50%;
  grid-template-columns: 20% 60% 20%;
  padding-top: 2.5em;
  background-color: #fffaf0;
}
@media (max-width: 1023px) {
  .authentication {
    height: 90%;
    grid-template-rows: 5% 20% 0% 20% 52%;
    grid-template-columns: 0% 100% 0%;
    margin-top: -4em;
  }
}
.authentication .form-wrapper {
  min-height: 29em;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: vertical;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #00c6ff;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#0072ff), to(#00c6ff));
  background: linear-gradient(to right, #0072ff, #00c6ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media (max-width: 1023px) {
  .authentication .form-wrapper {
    min-height: 36em;
  }
}
.authentication .form-wrapper h4 {
  font-weight: 400;
  font-size: 1.4em;
  padding: 1.4em 0 0.5em 0;
  -webkit-transform: translateY(1em);
          transform: translateY(1em);
  color: #ffffff;
}
@media (max-width: 1023px) {
  .authentication .form-wrapper h4 {
    font-size: 1.8em;
    text-align: center;
    padding: 0.25em 0 0.25em 0;
  }
}
.authentication .form-wrapper .myForm {
  width: 70%;
  min-height: 17em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: vertical;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 2em;
}
@media (max-width: 1439px) {
  .authentication .form-wrapper .myForm {
    padding-top: 0.5em;
  }
}
@media (max-width: 1023px) {
  .authentication .form-wrapper .myForm {
    width: 90%;
    min-height: 20em;
  }
}
.authentication .form-wrapper .myForm .name {
  margin-top: 2em;
}
.authentication .form-wrapper .myForm .name,
.authentication .form-wrapper .myForm .email {
  width: 60%;
  min-height: 1.5em;
  padding: 0.25em 0.5em 0.25em 0.5em;
  margin-bottom: 2em;
  outline: none;
  border: none;
}
.authentication .form-wrapper .myForm .error_message {
  margin-top: -1em;
  padding-bottom: 0.5em;
  color: #eeee3e;
}
@media (max-width: 1439px) {
  .authentication .form-wrapper .myForm .error_message {
    margin-top: -2em;
    padding: 0;
  }
}
@media (max-width: 1023px) {
  .authentication .form-wrapper .myForm .error_message {
    margin-top: -1em;
    padding-bottom: 0.5em;
  }
}
.authentication .form-wrapper .myForm .submit {
  width: 30%;
  min-height: 1.5em;
  margin-top: 0.5em;
  font-size: 1em;
  border: none;
  cursor: pointer;
}
.authentication .background-image-wrapper {
  grid-row: 4;
  grid-column: 1/4;
  background: url("../img/river-219972_1280.jpg") center no-repeat;
}
@media (max-width: 1023px) {
  .authentication .background-image-wrapper {
    margin-top: -3em;
  }
}/*# sourceMappingURL=Authentication.css.map */