.current_left {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgb(30, 207, 210);
}

.current_right {
    grid-row-start: 2;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: rgb(85, 230, 77);
}

.current_left,
.current_right {
    padding: 1.2em 1em 0 0;
}