// SASS IMPORTS
@import '../style/common_sass_files/responsive.scss';
@import '../style/common_sass_files/flexbox.scss';
@import '../style/common_sass_files/color_variables.scss';

.messages-wrapper {
    grid-row: 2/3;
    grid-column: 2/5;
    @media #{$screen-laptop-down} {
        font-size: 1em;
        line-height: 1.2em;
    }; 
    @media #{$screen-iPad-down} {
        font-size: 1.25em;
        line-height: 1.35em;
    }; 
}

.link_wrapper {
    grid-row: 3/5;
    grid-column: 2/3;
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(space-around);
    padding: 0 0.4em 0 0.4em;

    .auth-link {
        text: {
            align: center;
            decoration: none;
        }

        .authentication_link p {
            &:hover,
            &:focus {
                color: color(app-color);
            }  
            transform: translateY(-0.1em);    
        }
    }
}