@import '../style/common_sass_files/responsive.scss';

.messages-wrapper {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
    background-color: red;
    @media #{$screen-laptop-down} {
        font-size: 1em;
        line-height: 1.2em;
    }; 
    @media #{$screen-iPad-down} {
        font-size: 1.25em;
        line-height: 1.35em;
    }; 
}

.link_wrapper {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 0.4em 0 0.4em;
    background-color: blue;

    .auth-link {
        text: {
            align: center;
            decoration: none;
        }

        .authentication_link p {
            &:hover,
            &:focus {
                color: #a03434;
            }  
            transform: translateY(-0.1em);    
        }
    }
}