@import './common_sass_files/responsive.scss';

.navigation {
    width: 100%;
    min-height: 5em;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 15% 70% 15%;
    background-color: rgb(87, 127, 208);
    @media #{$screen-iPad-down} {
        min-height: 12.5em;
    };

    .nav-wrapper {
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 0.45em;
        background-color: darkorange;
        @media #{$screen-iPad-down} {
            flex-direction: column;
            align-items: center;
            padding: 1em 0 1.5em 0;
        };    
    }

    .nav-link-home,
    .nav-link-weatherforecast,
    .nav-link-authentification {
        text-decoration: none;
    }

    p {
        font-size: 1.1em;
        color: #ffffff;
        &:hover {
            color: #1c1cdb;
        };
    }    
}




