@import './common_sass_files/responsive.scss';
@import './common_sass_files/common_variables.scss';
@import './common_sass_files/color_variables.scss';
@import './common_sass_files/flexbox.scss';

.navigation {
    width: $width-primary;
    min-height: 5em;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 15% 70% 15%;
    background-color: color(nav-color);
    @media #{$screen-iPad-down} {
        min-height: 12.5em;
    };

    .nav-wrapper {
        grid-column: 2/3;
        @include flexbox;
        @include flex-direction(row);
        @include justify-content(space-evenly);
        padding-top: 0.45em;
        @media #{$screen-iPad-down} {
            @include flex-direction(column);
            @include align-items(center);
            padding: 1em 0 1.5em 0;
        };    
    }

    .nav-link-home,
    .nav-link-weatherforecast,
    .nav-link-authentification {
        text-decoration: none;
    }

    p {
        font-size: 1.1em;
        color: color(base-white-color);
        &:hover {
            color: color(hover-color);
        }
    }    
}




