.loader {
    width: 3.5em;
    height: 3.5em;
    margin: 7.75em 890%;
    border: 0.1em solid #ffff00;
    border-top: 0.1em solid rgb(40, 78, 204);
    border-radius: 50%;
    animation: spin 1s linear infinite;

    @keyframes spin {
        0% { transform: rotate(0deg);}
        100% { transform: rotate(360deg);}
    }
}

.container {
    width: 100%;
    height: 48em;
    display: grid;
    grid-template-rows: 5% 15% 2.5% 40% 2.5% 30% 5%;
    grid-template-columns: 5% 50% 2% 38% 5%;
    background-color: rgb(40, 78, 204);

    .header_wrapper {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 5;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 0.6em;
        background-color: rgb(112, 173, 216);

        h2 {
            font-weight: lighter;
            font-size: 1.75em;
        }
    }

    .current_weather {
        grid-row-start: 4;
        grid-column-start: 2;
        grid-column-end: 3;
        display: grid;
        grid-template-rows: 5% 90% 5%;
        grid-template-columns: 5% 42% 6% 42% 5%;      
        background-color: rgb(236, 236, 14);
    }

    .sidebar {
        grid-row-start: 4;
        grid-column-start: 4;
        grid-column-end: 5; 
        display: grid; 
        grid-template-rows: 5% 60% 9% 14% 13%;
        grid-template-columns: 7% 10% 66% 10% 7%;
        background-color: rgba(238, 94, 89, 0.972);  

        .messages_wrapper {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 5;
            background-color: #80ffff;
        }

        .redirect_wrapper {
            grid-row-start: 4;
            grid-row-end: 5;
            grid-column-start: 3;
            grid-column-end: 4;
            background-color: darkorchid;
        }
    }

    .footer_wrapper {
        grid-row-start: 6;
        grid-column-start: 2;
        grid-column-end: 5;
        background-color: coral;
    }
}
