@import '../style/common_sass_files/responsive.scss';

.loader_current,
.loader_hourly,
.loader_daily, {
    width: 3.5em;
    height: 3.5em;
    border: 0.1em solid #ffff00;
    border-top: 0.1em solid rgb(40, 78, 204);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    @keyframes spin {
        0% { transform: rotate(0deg);}
        100% { transform: rotate(360deg);}
    }
}

.loader_current {
    margin: 6.5em 850%;
}

.loader_hourly {
    margin: 6.5em 825%;
}

.loader_daily {
    margin: 11em auto;
}

.container {
    width: 100%;
    height: 65em;
    display: grid;
    grid-template-rows: 5% 10% 2.5% 28.5% 2.5% 46.5% 5%;
    grid-template-columns: 5% 35% 2% 53% 5%;
    background-color: rgb(40, 78, 204);

    .header_wrapper {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 5;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 0.3em;
        background-color: rgb(112, 173, 216);

        h2 {
            font-weight: lighter;
            font-size: 1.75em;
        }
    }

    .current_weather {
        grid-row-start: 4;
        grid-column-start: 2;
        grid-column-end: 3;
        display: grid;
        grid-template-rows: 5% 90% 5%;
        grid-template-columns: 5% 52% 6% 32% 5%;      
        background-color: rgb(236, 236, 14);
    }

    .sidebar {
        grid-row-start: 4;
        grid-column-start: 4;
        grid-column-end: 5; 
        display: grid; 
        grid-template-rows: 5% 60% 9% 21% 5%;
        grid-template-columns: 7% 10% 66% 10% 7%;
        background-color: rgba(238, 94, 89, 0.972);  

        .messages_wrapper {
            grid-row-start: 2;
            grid-row-end: 5;
            grid-column-start: 2;
            grid-column-end: 5;
            display: grid;
            grid-template-rows: 5% 60% 2.5% 28.5% 5%;
            grid-template-columns: 5% 20% 50% 20% 5%;
            background-color: #80ffff;
        }

        .link_wrapper {
            grid-row-start: 4;
            grid-row-end: 5;
            grid-column-start: 3;
            grid-column-end: 4;
            background-color: darkorchid;

            .authentication_link {
                text-decoration: none;
                color: #ffffff;
            }
        }
    }

    .footer_wrapper {
        grid-row-start: 6;
        grid-column-start: 2;
        grid-column-end: 5;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 0.9em;
        background-color: coral;
    }
}
