@import './style/common_sass_files/responsive.scss';

.App {
    width: 100%;
    min-height: 90em;
    display: grid;
    grid-template-rows: 5% 80% 15%;
    grid-template-columns: 10% 80% 10%;
    background: url('./img/sky_with_clouds.jpg') center no-repeat;
    @media #{$screen-laptop-down} {
        font-size: 75%;
    }; 
    @media #{$screen-iPad-down} {
        height: 235em;
        grid-template-rows: 2.5% 95% 2.5%;
        grid-template-columns: 8% 84% 8%;
        background: darkblue;
    }

        .app_body {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 3;
                .main_content {
                    padding: 4em 0 4em 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    background-color: rgb(0, 229, 255);
                    @media #{$screen-iPad-down} {
                        height: 92.5%;
                        flex-direction: column;
                        align-items: center;
                        padding: 0 0 2em 0;
                    }
                }
        }
}






  